svg
{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

#restart
{
    margin-top: 55px;
    position:fixed;
    top: 50%;
    left: 50%;
}

body
{
    background-color: #c3c3c3;
}

#scoreboard
{
    margin: auto;
    position: fixed;
    left: 75%;
    top: 15%;
    display: inline-block;
}

#highscores
{
	border: 3px solid indianred;
}

#highscores .text
{
	display: block;
	text-align: center;
}

#highscore_title
{
	font-weight: bold;
}