svg
{
    margin-top: 20px;
}

#level
{
    margin-top: -10px;
    font-weight: bold;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

#restart
{
    margin-top: 10px;
    border-radius: 3px;
    margin-left: 50%;
    transform: translateX(-50%);
}

body
{
    background-color: #c3c3c3;
}

#scoreboard
{
    margin: auto;
    position: fixed;
    left: 75%;
    top: 15%;
    display: inline-block;
}

#highscores
{
	border: 3px solid indianred;
    padding: 5px;
}

#highscores .text
{
	display: block;
	text-align: center;
}

#highscore_title
{
	font-weight: bold;
}

.health-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 400px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 60%;
    margin-top: 10px;
    transition: width .5s linear;
}

.bar {
    background: #c54;
    width: 0px;
    height: 10px;
    position: relative;
}

.hit {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    
    transition: width .5s linear;
}

.center
{
    margin:auto;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    align-items: center;
}